*, *:before, *:after {

    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #ffff;
}

header {
    position: fixed; 
}
.menu {
    background-color: #202328;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid #EFB810;
}

.menu .logoInformation{
    font-size: 20px;
    font-weight: bold;
    color: #EFB810;
    text-align:center;
}


.mainLogo .logo {
    width: 70px;
    margin-left: 15px;
}

.menuItems {
    display: flex;
    list-style: none;
    /*margin-right: 198px;*/
    align-items: center;
}

.menuItems li {
    border-radius: 3px;
    margin: 0 41px;
}


.menuItems li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: white;
    text-transform: uppercase;
}

.subMenu {
    display: flex;
    flex-direction: column;
    background: #202328;
    color: #fff;
    position: absolute;
    list-style: none;
    display: none;
    border-radius: 15px;
    
    
}

.subMenu li {
    border-bottom: 1px solid #EFB810;
    margin: 0px 0px 0px;

}

.subMenu li a{
    font-size: 16px;
}

.menuItems li:last-child {
    border-radius: 0px 0px 15px 15px;
}

.menuItems .subMenuItems:hover>ul {
    display: block;
}

.searchLol{
    display: flex;
    color: white;
    text-transform: uppercase;
}
.searchLol input{
    padding: 0 20px 0 20px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 8px;
}

.searchLol a{
    pointer-events: none;
}

.menuItems .logo{
    background: #202328;
    cursor: pointer;
}

.menuItems .searchLol:hover{
    background: #202328;
}

.menuItems li:hover{
    background: #EFB810;
}
.menuItems li a:hover{
    color: #202328;
}

.buttonMenu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
}


ul.show {
    top: 65px;
}

.difficulty{
    display: inline-block;
    background-color: #fff;
    height: 10px;
    width: 30px;
    font-size: 2px;
    padding: 1px;
    color: white;
    margin: 10px 7px 7px 7px;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: 2.7;
}
.colorNone{
    opacity: .5;
}

/****** footer *****/
footer {
    border-top:4px solid #EFB810;
    background-color: #202328;
    bottom: 0px;
    
    color: #fff;
    width: 100vw;
    text-align: center;
    height: 90px;
}

footer section {
    margin-top: 30px;
    font-size: 18px;
}

/*Cards LandingPage*/

.showCardsLol{
    display: flex;
    /* display: column; */
    border-radius: 30px;
    border: 3px  solid  #AF0E2D;
    margin: 10px;
    padding: 0px;
    font-size: 30px;
    flex-direction: column;
    background-color: #202328;
    color: #FFFFFF;
}
#mainCardsLol{
    background-image: url(./images/fondomapa2.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
}
.showCardsLol img {
    width: 300px;
    border-radius: 30px 30px 0 0 ;
}
.showCardsLol p {
    padding: 10px;
    text-transform: uppercase;
    
}

main{
    padding-top: 100px;
    text-align: center;

}
.mainSliderLol{
    align-items: center;
    display: inline-block;
    
}
.mainSliderLol img{
    background-size: cover;
  
  /*IMPORTANTE*/
  width: 100vw;
    
}

main .mainCardsLol{
    padding-top: 1050px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        padding-left: 35px;
        width: 34px;
    }
    .menuItems li a {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 600px) {
    .menu{
        height: 65px;
    }
    .buttonMenu {
        display: inline-flex;
    }
    .menuItems {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #202328;
        top: -100vh;
        text-align: center;
        transform: all .4s;
        flex-direction: column;
    }
    .menuItems li{
        margin: 10px 0 0 0;
        line-height: 30px;
    }
    .menuItems li:hover {
        background: none;
    }
    .menuItems li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menuItems li a:hover {
        color: #EFB810;
    }

    .subMenu {
        position: relative;
    }
    .subMenu li a{
        font-size: 14px;
    }
    
    footer {
        height: 60px;
    }

    footer section {
        margin-top: 20px;
        font-size: 15px;
    }    
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
    .menuItems li {
        margin: 5px 0 0 0;
    }
    .menuItems {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}